.card-img-top {
    height: 12rem;
    object-fit: cover;
    object-position: center;
}
.col-sm {
    margin-bottom: 1rem;
}
.container {
    max-width: 968px;
}
.form inline .form-control {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}
.add-form {
    max-width: 28rem;
    margin: 2rem auto;
}
